<!-- main/templates/main/contact_us.html -->
{% extends 'main/base.html' %}
{% block title %}Contact Us{% endblock %}
{% block content %}
<h1>Contact Us</h1>
<div class="container my-4">
        <li>If you have questions or comments about our website please Submit this Contact us form we contact you</li><br>
        <form id="contact-form" onsubmit="handleSubmit(event)">
            <label for="first_name">First Name:</label>
            <input type="text" id="first_name" name="first_name" required>

            <label for="last_name">Last Name:</label>
            <input type="text" id="last_name" name="last_name" required>

            <label for="email">Email Address:</label>
            <input type="email" id="email" name="email" required>

            <input type="submit" value="Submit">
        </form>

    </div>
{% endblock %}

    <script>
        function handleSubmit(event) {
            event.preventDefault();
            document.getElementById('contact-form').reset();
            document.getElementById('thank-you-message').style.display = 'block';
        }
    </script>

