<!-- main/templates/main/privacy_policy.html -->
{% extends 'main/base.html' %}
{% block title %}Privacy Policy{% endblock %}
{% block content %}
<h3 class="hed my-4" >Fantasy Game Privacy Policy</h3>

<p><strong>Last updated:</strong> June 1, 2024</p>
    <p>Thank you for choosing to be part of our fantasy sports community. We are committed to protecting your personal information and your right to privacy.</a>.</p>
    <p>When you use our website and mobile application, you are trusting us with your personal information. We take your privacy very seriously. In this privacy policy, we seek to explain to you in the clearest way possible what information we collect, how we use it, and what rights you have in relation to it. We hope you take some time to read through it carefully, as it is important. If there are any terms in this privacy policy that you do not agree with, please discontinue the use of our Sites and our services.</p>

    <h5>1. Information we collect</h5>
    <p><strong>Personal information you disclose to us</strong></p>
    <p>We collect personal information that you voluntarily provide to us when expressing an interest in obtaining information about us or our products and services, when participating in activities on the Sites or otherwise contacting us.</p>

    <h5>2. Automatically collected information</h5>
    <p>We automatically collect certain information when you visit, use or navigate the Sites. This information does not reveal your specific identity (like your name or contact information) but may include device and usage information, such as your IP address, browser, and device characteristics, operating system, language preferences, referring URLs, device name, country, location, information about how and when you use our Sites and other technical information.</p>

    <h5>3. How we use your information</h5>
    <p>We use personal information collected via our Sites for a variety of business purposes, including to respond to your inquiries, improve our products and services, and send you marketing and promotional communications.</p>

    <h5>4. Sharing of information</h5>
    <p>We only share information with your consent, to comply with laws, to provide you with services, to protect your rights, or to fulfill business obligations.</p>

    <h5>5. Retention of information</h5>
    <p>We will retain your personal information for as long as necessary to provide our services, comply with our legal obligations, resolve disputes, and enforce our agreements.</p>

    <h5>6. Your privacy rights</h5>
    <p>You may review, change, or terminate your account at any time.</a>.</p>

    <h5>7. Data protection</h5>
    <p>We take reasonable steps to protect your personal information from loss, misuse, and unauthorized access, disclosure, alteration, or destruction.</p>

    <h5>8. Updates to this policy</h5>
    <p>We may update this privacy policy from time to time. The updated version will be indicated by an updated "Last updated" date and the updated version will be effective as soon as it is accessible.</p>


    <h5>9. Cookie Policy</h5>
    <p>Our website uses cookies to analyze website traffic and optimize your website experience. By accepting our use of cookies, your data will be aggregated with all other user data.</p>

{% endblock %}
